.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.navbar-inverse .container-fluid {
	background-color:#223447;
}

.navbar-header .navbar-brand {
	color: #ffffff;
}
.navbar-inverse .navbar-nav li a {
    color: #9d9d9d;
}
.bg-img {
	background-image:url('../../../1.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}
.bg-gradient {
    background-image: linear-gradient(to right bottom, #223447,#223447);
    opacity: 0.85;
    }
.hpx-600 {
    height: 600px;
}
.travela-slider {
    margin-top: 200px;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}
.text-light {
	color: #ffffff;
}
.text-center {
	
    text-align: center!important;
}
.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

..opacity-1{
	opacity: 0.2;
}

.tabs {
    border-radius: 4px;
    margin-bottom: 20px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.tab-content {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    border: 1px solid #EEE;
    border-top: 0;
    padding: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs li a, .nav-tabs li a:hover {
    background: #F4F4F4;
    border-bottom: none;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-top: 3px solid #EEE;
    color: #CCC;
}
.nav-tabs li a {
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin-right: 1px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.tab-content>.active {
    display: block;
}

.tulisan-ngeselin{
	color: white;
}

.row-riwayat-pemesanan:hover {
    background-color:#dddddd
}

.keteranganinput{
	border-radius: 10px;
	background-color:  #E5E5E5;
}

.keteranganinput h6{
	font-size: 1em;
}
.keteranganinputform{
	border-radius: 10px;
	background-color:  #E5E5E5;
	padding: 20px;

}

.keteranganinput img{
	width: 50px;
}
.tombolkepembayaran {
	padding: 20px;	
}
.pilihpembayaranimg img{
	width: 50%;
}
.icon-nav-tabs{
     width: 20px;
}
.cari-tiket {
    padding: 100px;
}
.cari-tiket2 {
    margin-bottom:50px;
}
.container-pemesanan{
    padding: 100px;
}

.tombol-cari-tiket {
    margin-top: 25px;
}

.fluid-container-kenapa-pilih-travela{
    background-color: #223447;
}

.container-kenapa-pilih-travela{
    padding-bottom: 30px;
    padding-top: 30px
}

.container-kenapa-pilih-travela h1{
    padding: 20px;
}
.row-kenapa{
    margin-top: 50px;
}
.col-kenapa{
    padding-right: 20px;
    padding-left: 20px;
}
.img-kenapa{
    width: 200px;
}

.container-section-4{
    padding: 20px;
}
.container-section-4 img{
    width: 300px;
}
.keterangan-section-4{
    margin-top: 100px; 
}

.fluid-container-pesan-sekarang{
    background-color: #223447;
    padding: 50px;
}
.row-pesan-sekarang{
    padding: 20px;
}
.container-partner{
    padding: 30px;
}
.col-partner {
    padding: 20px;
}
.col-partner-img{
    padding-top: 30px;
    padding-left: 10px;
}
.col-partner-img img{
    width: 200px
}
.fluid-container-subscribe{
    background-color: #223447;
    padding: 50px;
}
.row-subscribe{
    padding: 20px;
}

.fluid-container-footer{
    background-color: #223447;padding: 50px;
    bottom: 0px;
}

.testimonial{
    font-family: 'georgia, serif';
    font-style: italic;
}
.ceo{
    font-family: 'roboto';
}
.travela-footer{
    margin-top: 100px;
}

.keterangan-rute{
    background-color: #4691E4;
    margin-top: -20px;
}
.sub-keterangan-rute{
   background-color: #F7EEEE;
}
.container-pilih-rute{
    padding: 50px;
}
.img-pilih-rute{
    width: 100px;
}
.container-input-data{
    padding-top: 25px;
    padding-bottom: 25px
}
.container-pilih-pembayaran{
    padding-top: 25px;
    padding-bottom: 25px
}
.container-pembayaran{
    padding-top: 25px;
    padding-bottom: 25px
}
.tombol-kode-pembayaran{
    margin-bottom: 20px;
}
.container-pemesanan {
    padding: 100px;
}
.img-akun{
    width: 100%;
}
.table-pemesanan>tbody>tr>td{
    border-top:0px;
}
.table-pilih-pembayaran>tbody>tr>td{
    border-top:0px;
}
@media screen and (max-width: 1050px) {
    body{
        width: 105%;
    }
    .travela-footer{
        text-align: center;
    }
}
@media screen and (max-width: 1024px) {
    body{
        width: 100%;
    }
    .travela-footer{
        text-align: center;
    }
}
@media screen and (max-width: 720px) {
    .travela-slider {
         font-size: 4rem;
    }
    .deskripsi-slider {
        font-size: 2rem;
    }
    .keterangan-section-4{
        margin-top: 30px; 
    }
    .button-pesan{
        margin-bottom: 10px;
    }
    .col-partner-img img{
        width: 120px;
        margin-left:32px;
    }
    .travela-footer{
        margin-top: 20px;
        text-align: center;
    }
    .keteranganinput{
        margin:10px;
    }
    .keteranganinputform{
        padding: 10px;
        margin-left:10px;
        margin-right: 10px;
    }
    .tombolkepembayaran{
        text-align: center;
    }
    .pilihpembayaranimg img{
    width: 50px;
    }
    .img-akun{
    width: 50%;
    margin-left: 30vh;
    }
    .keterangan-akun{
        display: inline-block;  
    }
}


@media screen and (max-width: 480px) {
    .nav-tabs li{
        width: 50%;
    }
    .img-kenapa{
        width: 150px;   
    }
    .img-pilih-rute{
        width: 25px;
    }
    .container-pilih-rute td{
        font-size: 1rem;
    }
     .container-pilih-rute td h4,h5{
        font-size: 1rem;
    }
   /*.container-section-4 img{
    width: 200px;
   }*/
  
}
@media screen and (max-width: 380px) {
   
   .table-pemesanan{
    margin-top: -50px;
    margin-left:-65px;
   }
}

      /* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control .left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control .right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}